
<footer>
 Summary: The goal of our project is to analyze the opportunity SHSAT schools create for underprivileged students by race group. Certain race groups admit into the specialized schools at a higher rate. Some schools are more divers and some are less diverse. What do you notice?
<br/>
<br/>
 Data gathered from <a href="https://data.cityofnewyork.us/dataset/2022-SHSAT-DISCOVERY-OVERALL-SUMMARY/unse-x4pq/data"> (2022 SHSAT + DISCOVERY OVERALL SUMMARY)</a>
</footer>
