<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>SHSAT admissions information</title>
  <meta name="author" content="You">
  <meta name="description" content="SHSAT schools offers by race">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <header>
    <h1>SHSAT schools</h1>
  </header>
  <section id="charcter-table">
    <table>
      <tr>
        <th>Name</th>
        <th>Native American</th>
        <th>Asian</th>
        <th>Black</th>
        <th>Latinx</th>
        <th>White</th>
        <th>Multi-Racial</th>
        <th>Unknown</th>
        <th>Total</th>
      </tr>
      <% for(school in data){ %>
      <tr>
        <td><a href="<%=data[school].link%>.html"><%= school %></a></td>
        <td><%= data[school].name %></td>
      </tr>
      <%}%>
    </table>
  </section>

  <!-- <%- include ('global/footer');  %> -->

</body>

</html>
